{% extends "base.html" %}

{% block content %}
    {% if form.__class__.__name__ == 'AddTask' %}
    <h1 style="color: #ffffff; margin-top: 10px;">Добавление задачи</h1>
    {% elif form.__class__.__name__ == 'EditTask' %}
    <h1 style="color: #ffffff; margin-top: 10px;">Изменение задачи</h1>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p style="color: #ffffff;">
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p style="color: #ffffff;">{{ form.is_completed() }} {{ form.is_completed.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div style="color: #ffffff;">{{ message }}</div>
    </form>
{% endblock %}